.brand-activity-wrapper {
	display: flex;
	justify-content: center;
	align-items: baseline;
	padding: 80px 0;
	width: 100vw;
	background: white;
}

.brand-activity-container {
	width: 80%;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	z-index: 90;
}

.brand-activity-item {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	flex-shrink: 0;
	justify-content: center;
	align-items: center;
	z-index: 90;
	min-height: 100px;
	min-width: 120px;
	width: 20%;
}

.brand-activity-img {
	background-repeat: no-repeat;
	height: 100px;
	width: 100px;
	background-size: contain;
	margin-bottom: .4rem;
}

.brand-activity-auto {
	background-image: url("../img/auto.png");
}
.brand-activity-factory {
	background-image: url("../img/factory.png");
}
.brand-activity-realty {
	background-image: url("../img/realty.png");
}
.brand-activity-tech {
	background-image: url("../img/tech.png");
}
.brand-activity-train {
	background-image: url("../img/train.png");
}

.brand-activity-img:hover {
	transition: all .5s;
	transform: scale(0.98);
}

.brand-activity-textblock {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}

.brand-activity-textblock p {
	text-align: center;
}
