.carousel {
	position: relative;
	padding: 20px 0;
	min-width: 100vw;
	min-height: 10vw;
	background: none;
	/*left: -22.5vw;*/
	display: inline-flex;
	-webkit-user-select: none;
	-moz-user-select: none;
}

@media only screen and (min-width:1440px){
	.carousel {
		min-width: 100vw;
		height: 5vw;
	}
}

.carousel-item {
	display: inline-block;
	width: 23vw;
	height: 23vw;
	margin-left: 1vw;
	margin-right: 1vw;
	background: #fff;
	flex-shrink: 0;
	box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

.carousel-item-partner {
	background: url("../img/partner.jpg") center center no-repeat;
	background-size: cover;
}
.carousel-item-luidor {
	background: url("../img/luidor.png") center center no-repeat;
	background-size: contain;
}
.carousel-item-akcent {
	background: url("../img/akcent.jpg") center center no-repeat;
	background-size: contain;
}
.carousel-item-mail {
	background: url("../img/mail.jpg") center center no-repeat;
	background-size: cover;
}
.carousel-item-cher {
	background: url("../img/cher.jpg") center center no-repeat;
	background-size: contain;
}
.carousel-item-turris {
	background: url("../img/turris.jpg") center center no-repeat;
	background-size: contain;
}
.carousel-item-ulmart {
	background: url("../img/ulmart.svg") center center no-repeat;
	background-size: contain;
}

.carousel-card {
	width: 100%;
	height: 100%;
}

.carousel-card * {
	display: none;
}

.carousel-card:hover * {
	display: flex;
}

.carousel-card-content {
	transition: all .5s;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}


.carousel-card-content:hover {
	background: rgba(255, 255, 255, .95);
}

.carousel-heading {
	padding-bottom: calc(2vw);
	font-size: calc(3vw);
	color: #000;
	text-align: center;
	line-height: 0.9;
}
.carousel-sub {
	font-size: calc(2vw);
	color: #000;
	text-align: center;

}

.carousel-button-container {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	padding: 0 20px;
}

.carousel-button-container a,
.carousel-button-container a:active,
.carousel-button-container a:visited {
	padding: 12px 26px 12px 26px;
	border: 1px solid #002F6C;
	border-radius: 2px;
	margin-top: 20px;
	background: #002F6C;
	display: inline-flex;
	transition-delay: unset !important;
	transition: all .4s;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
}

.carousel-button-container a:hover {
	border: 1px solid #002F6C;
	background: #fff;
	color: #002F6C;
}
