.prefooter-wrapper {
	position: relative;
	display: flex;
	padding: 0;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 15vw;
	background: url("../img/prefooter.png") top no-repeat;
	background-size: cover;
}

.footer-wrapper {
	position: relative;
	display: flex;
	padding: 0;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	width: 100vw;
	/*border-top: 11px solid #002F6C;*/
	background: #1b1d1f;
}

.footer-container {
	display: flex;
	width: 80%;
	padding: 24px 0;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}
.footer-lowest-container {
	display: flex;
	width: 80%;
	padding: 6px 0;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

.footer-lowest {
	padding: 2px 0;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	background: #141618;
}
.footer-links-col p {
	text-align: left;
	padding-bottom: .3em;
}

.footer-col p, .footer-lowest-col p {
	text-align: right;
	padding-bottom: .3em;
}

.footer-container p, .footer-lowest p {
	color: #fff;
}

.footer-logo{
	background: url("../img/venice_x70.png") no-repeat;
	height: 50px;
	min-width: 200px;
	background-size: contain;
}
