
.menubuttoncontainer {
	position: relative;
	width: 36px;
	height: 36px;
}

.menubutton {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 30px;
	height: 30px;
	transition: all 300ms cubic-bezier(.61, .01, .42, 1);
	cursor: pointer;
	background: transparent;
	border: 0;
}

.menubuttondiv {
	height: 0;
	width: 28px;
	display: block;
	position: absolute;
	transition: all 300ms cubic-bezier(.61, .01, .42, 1);
	border: 2px solid #fff;
	background:#fff;
}

.menubutton:hover {
	transition-delay: 100ms;
	transform: scale(1.1);
}

.menubutton:hover .menubuttondiv {
	border: 2.2px solid #fff;
}

menubutton-hover,
.menubutton:focus {
	outline: 0;
}

.menubuttondiv:nth-child(1) {
	top: 0;
}

.menubuttondiv:nth-child(2) {
	top: 12px;
}

.menubuttondiv:nth-child(3) {
	top: 24px;
}

.menubutton:hover .menubuttondiv-black {
	border: 2.2px solid #000;
}

.menubuttondiv-black {
	border: 2px solid #000;
	background:#000;
}

.menubuttondiv-black:nth-child(1) {
	top: 0;
}

.menubuttondiv-black:nth-child(2) {
	top: 11px;
}

.menubuttondiv-black:nth-child(3) {
	top: 22px;
}
