.partners {
	position: relative;
	overflow: visible;
	padding: 50px 0;
	background: #fff;
	color: #000;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: start;
	align-items: center;
	user-select: none;
}

.partners-content-wrapper {
	max-width: 80vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: left;
	align-content: start;
}

.partners-caption {
	max-width: 50vw;
	padding: 50px 0;
}

.partner {
	display: flex;
	width: 17vw;
	min-height: 8vw;
	margin: .5vw;
	/*background: #fff;*/
	flex-shrink: 0;
	/*box-shadow: 0 0 5px rgba(0, 0, 0, .2);*/
}

.partner-luidor {
	background: url("../img/luidor.png") center center no-repeat;
	background-size: contain;
}
.partner-akcent {
	background: url("../img/akcent.jpg") center center no-repeat;
	background-size: contain;
}
.partner-mail {
	background: url("../img/russian_post_logo.png") center center no-repeat;
	background-size: contain;
}
.partner-cher {
	background: url("../img/cher.jpg") center center no-repeat;
	background-size: contain;
}
.partner-turris {
	background: url("../img/turris.jpg") center center no-repeat;
	background-size: contain;
}
.partner-ulmart {
	background: url("../img/ulmart.svg") center center no-repeat;
	background-size: contain;
}
.partner-rok {
	background: url("../img/roc.png") center center no-repeat;
	background-size: contain;
}
.partner-arnaut {
	background: url("../img/arnaut.jpg") center center no-repeat;
	background-size: contain;
}

.partner-mosunivermag {
	background: url("../img/mosunivermag.jpg") center center no-repeat;
	background-size: contain;
}

.partner-ustluga {
	background: url("../img/ust-luga.svg") center center no-repeat;
	background-size: contain;
}

.partner-etalon {
	background: url("../img/etalon.svg") center center no-repeat;
	background-size: contain;
}
.partner-poster {
	background: url("../img/poster.svg") center center no-repeat;
	background-size: contain;
}
.partner-evrosib {
	background: url("../img/evrosib.png") center center no-repeat;
	background-size: contain;
}

.partner-card {
	width: 100%;
	height: 100%;
}

.partner * {
	display: none;
}

.partner:hover * {
	display: flex;
}

.partner-card-content {
	transition: all .5s;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}


.partner-card-content:hover {
	background: rgba(255, 255, 255, .95);
}

.partner-heading,
.partners-heading {
	padding-bottom: calc(1vw);
	font-size: calc(2vw);
	color: #000;
	text-align: center;
	line-height: 0.9;
}
.partner-sub {
	font-size: calc(1vw);
	color: #000;
	text-align: center;
}

.partners-heading-cta {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;

}
