		@media only screen and (min-width: 320px) {

			@font-face {
				font-family: 'Alice-Regular';
				src: url('../font/Alice-Regular.woff2') format('woff2'),
				url('../font/Alice-Regular.woff') format('woff'),
				url('../font/Alice-Regular.ttf') format("truetype");
				font-weight: normal;
				font-style: normal;
			}
			* {
				padding: 0;
				margin: 0;
				font-family: Arial, serif;
			}

			.main-wrapper {
				width: 100vw;
				height: 100vh;
				/*overflow-x: hidden;*/
				position: relative;
				background-color: black;
			}

			.column-menu {
				transition: all .4s;
				position: fixed;
				top: 76px;
				right: -50vw;
				width: 50vw;
				height: 100vh;
				z-index: 200;
				/*visibility: hidden;*/
			}

			.column-menu-wrapper {
				position: relative;
				transition: all .4s;
				transition-delay: .1s;
				width: 50vw;
				max-width: 50vw;
				height: 100vh;
				background: rgba(0, 0, 0, 0.05);
				border-radius: 4px;
				background: linear-gradient(to left, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.45));
			}

			.column-menu-container {
				display: flex;
				flex-direction: column;
				flex-wrap: nowrap;
				justify-content: start;
				align-items: center;
				height: 100vh;
			}

			.row-menu {
				position: fixed;
				top: 0;
				z-index: 200;
			}

			.menu-wrapper {
				position: relative;
				transition: all .4s;
				transition-delay: .1s;
				width: 100vw;
				height: 76px;
				border-top: 3px solid rgba(0, 0, 0, 0.05);
				border-bottom: 1px solid rgba(0, 0, 0, 0.05);
				background: rgba(0, 0, 0, 0.05);
				background: linear-gradient(to left, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0.45));
			}

			.menu-wrapper-scroll {
				height: 46px;
				background: rgba(255, 255, 255, 0.95);
			}

			.menu-container {
				display: flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: space-between;
				align-items: center;
				height: 100%;
			}

			.brand-logo-black {
				background: url("../img/venice_x40e.png") no-repeat;
				height: 40px;
			}

			.brand-logo-white {
				background: url("../img/venice_x70.png") no-repeat;
				height: 70px;
			}

			.brand-logo {
				transition: all .4s;
				min-width: 260px;
				max-height: 70px;
				background-size: contain;
				margin: 0 0 0 15px;
			}

			.brand-font {
				/*font-family: "Alice-Regular", serif;*/
				/*font-family: Calibri, serif;*/
			}

			.brand-font-additional {
				font-family: sans-serif;
			}

			.brand-inverted-colour {
				color: white;
			}

			.menu {
				height: 100%;
				display: inline-flex;
				flex-wrap: nowrap;
				justify-content: space-between;
				align-items: center;

			}

			.menu-item {
				display: inline-flex;
				flex-shrink: 0;
				/*font-family: "Alice-Regular", serif;*/
				padding: 0 20px;
				list-style-type: none;
			}

			.menu-item a,
			.menu-item a:active,
			.menu-item a:visited {
				transition-delay: unset !important;
				transition: all .4s;
				text-decoration: none;
				text-transform: uppercase;
				color: rgba(255, 255, 255, .8);
			}

			.menu-item a:hover {
				color: rgba(255, 255, 255, .5);
			}

			.menu-item-scroll a,
			.menu-item-scroll a:active,
			.menu-item-scroll a:visited {
				color: rgba(0, 0, 0, .8);
			}

			.menu-item-scroll a:hover {
				color: rgba(0, 0, 0, .3);
			}

			/*.menu-button {*/
				/*padding: 8px 26px 12px 26px;*/
				/*font-style: normal;*/
				/*text-align: center;*/
				/*vertical-align: middle;*/
				/*cursor: pointer;*/
				/*background-image: none;*/
				/*border: 1px solid rgba(255, 255, 255, .8);*/
				/*border-radius: 2px;*/
				/*font-size: smaller;*/
			/*}*/

			/*.menu-button:hover {*/
				/*border: 1px solid rgba(255, 255, 255, .5);*/
			/*}*/

			/*.menu-button-scroll {*/
			/*padding: 5px 26px 7px 26px;*/
			/*border: 1px solid rgba(0, 0, 0, .8);*/
			/*}*/

			/*.menu-button-scroll:hover {*/
			/*border: 1px solid rgba(0, 0, 0, .3);*/
			/*}*/

			.menu-button {
				padding: 12px 26px 12px 26px;
				font-style: normal;
				text-align: center;
				vertical-align: middle;
				cursor: pointer;
				background: rgba(255, 255, 255, .95);
				border: 1px solid rgba(255, 255, 255, .8);
				box-shadow: 0 3px 0 #002F6C;
				border-radius: 2px;
				color: #000 !important;
			}

			.menu-button:hover {
				background: #fff;
			}

			.menu-button-scroll {
				background: #002F6C;
				color: #fff !important;
				font-size: smaller;
				padding: 5px 26px 7px 26px;
				border-radius: 3px;
				border: none;
				box-shadow: 0 2px 0 #00122a;
			}

			.menu-button-scroll:hover {
				background: #003c88;
				box-shadow: 0 2px 0 #002F6C;
			}


			.page-button {
				padding: 12px 26px 12px 26px;
				font-style: normal;
				text-align: center;
				vertical-align: middle;
				cursor: pointer;
				background: rgba(255, 255, 255, .95);
				border: 1px solid rgba(255, 255, 255, .8);
				box-shadow: 0 3px 0 #002F6C;
				border-radius: 2px;
				color: #000;
			}

			.page-button:hover {
				background: #fff;
				border: 1px solid rgba(255, 255, 255, .5);
			}

			.page-button-container {
				display: inline-flex;
				justify-content: center;
				align-items: center;
				flex-shrink: 0;
				padding: 0 20px;
			}

			.page-button-container a,
			.page-button-container a:active,
			.page-button-container a:visited {
				display: inline-flex;
				transition-delay: unset !important;
				transition: all .4s;
				text-decoration: none;
				text-transform: uppercase;
				color: rgba(0, 0, 0, .9);
			}

			.page-button-container a:hover {
				color: rgba(0, 0, 0, .8);
			}

			.page-wrapper {
				z-index: 90;
				overflow: hidden;
			}

			.page-brand-wrapper {
				overflow-x: hidden;
				background: url("../img/primary-head.jpeg") top right no-repeat;
				background-size: cover;
				box-sizing: border-box;
				padding-top: 76px;
				/*padding-bottom: 300px;*/
				min-height: 80vh;
				color: black;
				display: flex;
				flex-direction: column;
				flex-wrap: nowrap;
				justify-content: space-around;
				align-items: center;
				z-index: 90;
			}

			.page-brand-content {
				display: flex;
				flex-direction: column;
				flex-wrap: nowrap;
				justify-content: space-around;
				align-items: center;
				z-index: 90;
			}


			.page-about {
				position: relative;
				overflow: visible;
				background: #fff;
				color: #000;
				box-sizing: border-box;
				min-height: 40vh;
				display: flex;
				flex-direction: column;
				flex-wrap: nowrap;
				justify-content: start;
				align-items: center;
			}

			.page-about-content-wrapper {
				position: absolute;
				/*top: -200px;*/
				min-height: 200px;
				display: flex;
				flex-direction: column;
				flex-wrap: nowrap;
				justify-content: start;
				align-items: center;
			}
			.page-about-content {
				background: #002F6C;
				border-radius: 24px;
				width: 80vw;
				z-index: 100;
			}
			.page-about-top {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				padding: 44px 0;
				height: 60px;
			}
			.page-about-top p {
				text-align: center;
			}

			.page-company {
				position: relative;
				overflow: visible;
				background: #fff;
				color: #fff;
				box-sizing: border-box;
				min-height: 90vh;
				display: flex;
				flex-direction: column;
				flex-wrap: nowrap;
				justify-content: start;
				align-items: center;
			}

			.page-company-content-wrapper {
				position: absolute;
				/*top: -200px;*/
				min-height: 200px;
				display: flex;
				flex-direction: column;
				flex-wrap: nowrap;
				justify-content: start;
				align-items: center;
			}
			.page-company-content {
				background: #002F6C;
				border-radius: 24px;
				width: 80vw;
				z-index: 100;
			}
			.page-company-top {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				padding: 44px 0;
				height: 60px;
			}
			.page-company-bottom {
				display: inline-flex;
				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: center;
				align-items: center;
				width: 100%;
			}
			.page-company-left {
				padding: 2em;
				width: 50%;
			}
			.page-company-right {

				width: 50%;
			}
			.page-company-top p {
				padding: 2em;
				text-align: center;
			}


			.heading-glob {
				padding-top: 0.8em;
				font-size: 4.8em;
				color: #fff;
				text-shadow: 1px 1px 5px #000, 0 0 1em #002F6C;
			}

			.heading-sub {
				padding-top: 1.2em;
				font-size: 1.8em;
				color: #fff;
				text-shadow: 1px 1px 5px #000;
				text-align: center;
			}

			.heading-sub-sub {
				font-size: 1.0em;
				color: #fff;
				text-shadow: 1px 1px 5px #000;
				text-align: center;
			}

			hr.heading-underline {
				margin-top: 3.2em;
				margin-bottom: 2.4em;
				border: none;
				width: 100%;
				height: 2px;
				color: #fff;
				background-color: #fff;
			}
			hr.heading-sub-underline {
				margin-top: 3.2em;
				margin-bottom: 2.4em;
				border: none;
				width: 50%;
				height: 1.5px;
				color: #000;
				background-color: #000;
			}

			.selection-gray {
				background: rgba(0, 0, 0, .2);
				background: linear-gradient(to bottom, transparent 30%, rgba(0, 0, 0, 0.45) 40%, transparent 100%);
				padding: 2em 3em;
				width: 100vw;
				/*border-radius: 12px;*/
			}

			.hidden-for960 {
				display: none;
			}
			.hidden-for1280 {
				display: none;
			}
		}

		@media only screen and (min-width: 960px) {
			.hidden-for960 {
				display: block;
			}
		}

		@media only screen and (min-width: 1440px) {
			.hidden-for1280 {
				display: block;
			}
		}

		.hidden-forever {
			display: block;
		}
