.calculus {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	z-index: 200;
	display: none;
	visibility: hidden;
}

.calculus-wrapper {
	position: relative;
	width: 100vw;
	max-width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.05);
	border-radius: 4px;
	background: linear-gradient(to left, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 1));
}

.calculus-container {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: start;
	align-items: center;
	padding: 10vh 0;
	height: 80vh;
	width: 80vw;
}

