.news {
	position: relative;
	overflow: visible;
	background: #fff;
	color: #000;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: start;
	align-items: center;
	user-select: none;
}

.news-heading {
	font-size: calc(2vw);
	text-align: center;
	padding: 40px 0;
}

.news-sub {
	font-size: calc(1.5vw);
	text-align: center;
	padding: 12px 0;
}
.news-sub-sub {
	font-size: calc(1.2vw);
	text-align: center;
	padding: 6px 0;
}

.news-content-wrapper {
	max-width: 70vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: left;
	align-content: start;
}

.news-blocks {
	width: 80vw;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	align-content: stretch;
}

.news-block {
	transition: all .5s;
	width: 30%;
}

.news-block:hover {
	color: #770000;
}
