.partners {
	position: relative;
	overflow: visible;
	padding: 50px 0;
	background: #002F6C;
	/*background: #66A2F0;*/
	color: #000;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: start;
	align-items: center;
	user-select: none;
}

.partners-content {
	background: #003C88;
	/*background: #fff;*/
	border-radius: 24px;
	width: 80vw;
	/*height: 480px;*/
	z-index: 100;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: start;
	align-items: center;
	padding-bottom: 10px;
	margin-bottom: 40px;
}


.partners-content .partners-heading-on-black {
	padding-bottom: calc(1vw);
	font-size: calc(2vw);
	text-align: center;
	line-height: 0.8;
	color: #fff;
}

.partners-content-wrapper {
	width: 100vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: left;
	align-content: start;
}

.partners-caption {
	max-width: 50vw;
	padding: 40px 0 20px 0;
}

.partner-container {
	display: block;
	width: 100%;
	background: url("../img/bld.jpg") center center no-repeat;
	background-size: cover;
	margin: .5em;
	box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}

.partner {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
	width: 100%;
	height: 100%;
	background: #fff;
	flex-shrink: 1;
}

.partner-inner {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: stretch;
	align-content: stretch;
	flex-shrink: 1;
	width: 100%;
	height: 100%;
}

.partner-luidor {
	background: url("../img/luidor.png") center center no-repeat;
	background-size: contain;
}
.partner-akcent {
	background: url("../img/akcent.jpg") center center no-repeat;
	background-size: contain;
}
.partner-mail {
	background: url("../img/russian_post_logo.png") center center no-repeat;
	background-size: contain;
}

.partner-cher {
	background: url("../img/cher.jpg") center center no-repeat;
	background-size: contain;
}
.partner-turris {
	background: url("../img/turris.jpg") center center no-repeat;
	background-size: contain;
}
.partner-ulmart {
	background: url("../img/ulmart.svg") center center no-repeat;
	background-size: contain;
}
.partner-rok {
	background: url("../img/roc.png") center center no-repeat;
	background-size: contain;
}
.partner-arnaut {
	background: url("../img/arnaut.jpg") center center no-repeat;
	background-size: contain;
}

.partner-mosunivermag {
	background: url("../img/mosunivermag.jpg") center center no-repeat;
	background-size: contain;
}

.partner-ustluga {
	background: url("../img/ust-luga.svg") center center no-repeat;
	background-size: contain;
}

.partner-etalon {
	background: url("../img/etalon.svg") center center no-repeat;
	background-size: contain;
}
.partner-poster {
	background: url("../img/poster.svg") center center no-repeat;
	background-size: contain;
}
.partner-evrosib {
	background: url("../img/evrosib.png") center center no-repeat;
	background-size: contain;
}

.partner-card {
	width: 100%;
	height: 100%;
}

.partner * {
	display: none;
}

.partner:hover * {
	display: flex;
}


@media only screen and (min-width: 320px) {
	.partner-card-content {
		/*min-width: 17vw;*/
		/*min-height: 8vw;*/
		/*height: 8vw;*/
		padding: .5vw;
		transition: all .5s;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
	}
	.partner-card-content,
	.partner-inner {
		height: 200px;
	}
}


@media only screen and (min-width: 960px) {
	.partner-card-content,
	.partner-inner  {
		height: 300px;
	}
}

.partner-card-content:hover {
	background: rgba(255, 255, 255, .95);
}

.partner-heading,
.partners-heading {
	padding-bottom: calc(1vw);
	font-size: calc(2vw);
	color: #000;
	text-align: center;
	line-height: 0.9;
}

.partner-sub {
	font-size: calc(1vw);
	color: #000;
	text-align: center;
	/*padding: 0 40px;*/
}

.partners-heading-cta {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;

}
