input[type=range] {
	-webkit-appearance: none;
	margin: 10px 0;
	width: 100%;
}
input[type=range]:focus {
	outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 10px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 1px 1px 1px #000000;
	background: #002F6C;
	border-radius: 29px;
	border: 1px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
	box-shadow: 0 0 1px #000000;
	border: 4px solid #002F6C;
	height: 21px;
	width: 21px;
	border-radius: 21px;
	background: #FFFFFF;
	cursor: pointer;
	-webkit-appearance: none;
	margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
	background: #002F6C;
}
input[type=range]::-moz-range-track {
	width: 100%;
	height: 10px;
	cursor: pointer;
	animate: 0.2s;
	box-shadow: 1px 1px 1px #000000;
	background: #002F6C;
	border-radius: 29px;
	border: 1px solid #000000;
}
input[type=range]::-moz-range-thumb {
	box-shadow: 0 0 1px #000000;
	border: 4px solid #002F6C;
	height: 21px;
	width: 21px;
	border-radius: 21px;
	background: #FFFFFF;
	cursor: pointer;
}
input[type=range]::-ms-track {
	width: 100%;
	height: 10px;
	cursor: pointer;
	animate: 0.2s;
	background: transparent;
	border-color: transparent;
	color: transparent;
}
input[type=range]::-ms-fill-lower {
	background: #002F6C;
	border: 1px solid #000000;
	border-radius: 58px;
	box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-fill-upper {
	background: #002F6C;
	border: 1px solid #000000;
	border-radius: 58px;
	box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-thumb {
	box-shadow: 0 0 1px #000000;
	border: 4px solid #002F6C;
	height: 21px;
	width: 21px;
	border-radius: 21px;
	background: #FFFFFF;
	cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
	background: #002F6C;
}
input[type=range]:focus::-ms-fill-upper {
	background: #002F6C;
}
