.steps {
	position: relative;
	overflow: visible;
	padding: 50px 0;
	background: #f3faff;
	color: #000;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: start;
	align-items: center;
	user-select: none;
}

.steps-heading {
	padding-bottom: calc(1vw);
	font-size: calc(2vw);
	color: #000;
	text-align: center;
	line-height: 0.9;
}

.steps-content-wrapper {
	max-width: 70vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: left;
	align-content: start;
}

.steps-caption {
	max-width: 50vw;
	padding: 50px 0;
}

.steps-arrows-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
	padding: 10px 0;
}

.step,
.step::after,
.step::before {
	transition: all 1s;
}

.step {
	color: #FFF;
	margin-left: 2em;
	padding: 0 3em;
	min-width: 3em;
	height: 3em;
	background: #003c88;
	position: relative;
	display: flex;
	flex-shrink: 0;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}

.step:hover {
	background: red;
	border: red;
}

.step:hover::after {
	border-left: 1.5em solid red;
}
.step:hover::before {
	border-right: 1.5em solid red;
	border-top: 1.5em solid red;
	border-bottom: 1.5em solid red;
}

.step::after {
	content: '';
	position: absolute;
	right: -2.99em;
	top: 0;
	border: 1.5em solid transparent;
	border-left: 1.5em solid #003c88;
}
.step::before {
	content: '';
	position: absolute;
	left: -1.45em;
	top: 0;
	border: 1.5em solid transparent;
	border-right: 1.5em solid #003c88;
	border-top: 1.5em solid #003c88;
	border-bottom: 1.5em solid #003c88;
}

.step * {
	display: block;
}
