.team {
	position: relative;
	overflow: visible;
	background: #fff;
	color: #000;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: start;
	align-items: center;
	user-select: none;
}

.team-heading {
	padding-bottom: calc(1vw);
	font-size: calc(2vw);
	color: #000;
	text-align: center;
	line-height: 0.9;
}

.team-content-wrapper {
	max-width: 70vw;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: left;
	align-content: start;
}

.team-caption {
	max-width: 50vw;
	padding: 50px 0;
}

.team-slider {
	width: 70vw;
	height: 30vw;
	border-radius: 12px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.team-slider:nth-child(2n) {
	background: red;
}
.team-slider:nth-child(2n+1) {
	background: greenyellow;
}

.team-slider:nth-child(1) {
	background: #003c88;
}

.team-slider:nth-child(2) {
	background: black;
}

.team-slider:nth-child(3) {
	background: yellowgreen;
}


.team-nth1 {
	width: 50%;
	background: url("../img/team-all.jpg") no-repeat;
	background-size: cover;
	background-position: center;
}

.half {
	width: 50%;
	height: 100%;
}
.half30 {
	width: 30%;
	height: 100%;
}
.half70 {
	width: 70%;
	height: 100%;
}
